In [3]:
n, k = map(int, input().split())
stack = [0 for _ in range(n * 2 + 1)]
for idx in range(1, 2 * n + 1):
    if stack[idx] == 0:
        stack[idx] = stack[idx - 1] + 1
        next_idx = idx * 2
        while next_idx < 2 * n + 1:
            stack[next_idx] = stack[idx - 1] + 1
            next_idx *= 2

for idx in range(n, 2 * n + 1):
    if stack[idx] <= k:
        print(idx - n)
        break

15808

31

In [ ]:
from itertools import combinations
import random

def first():
    ans = []
    for num in range(1, 31):
        if num % 3 == 0 and num % 4 != 0:
            ans.append(num)
    return ans

def second():
    print(len(list(combinations(range(1, 16), 5))))
    
third = lambda x, y: max(x, y)

def fourth(list1, list2):
    return sorted(set(list1 + list2))

def fifth():
    computer = random.randint(1, 50)
    while True:
        people = int(input())
        if computer == people:
            print("정답입니다")
            break
        else:
            print("오답입니다")

In [2]:
import math
math.factorial(15) // (math.factorial(5) * math.factorial(10))

3003

# 7-2. pandas 라이브러리

- pandas 자료구조

      - series (순열) : numpy array를 기반으로, 정형데이터를 분석하기 위한 index-value 형식
      - dataframe (데이터프레임) : 순열을 모아 하나의 chart 구성된 index-value-column 형식의 구조

In [2]:
# 라이브러리 호출
import pandas as pd

s1 = pd.Series([100, 200, 300, 500])
s1
# 시리즈는 하나의 데이터 타입만 갖는 구조
# 하나의 시리즈에 하나의 타입을 가질 때, 통계연산 및 정형데이터 관리에 있어 매우 유리함

0    100
1    200
2    300
3    500
dtype: int64

In [4]:
s1.index # 해당 시리즈의 index, 특정 데이터를 series선언하면 자동으로 index가 부여됨

RangeIndex(start=0, stop=4, step=1)

In [5]:
s1.values # 해당 시리즈의 value, numpy array

array([100, 200, 300, 500])

In [6]:
s1[0:2]

0    100
1    200
dtype: int64

In [7]:
s1[0] = 500 # 0번째 index값을 500으로 변경

In [8]:
s1[4] = 600 # 기존에 없던 index에 새로 데이터를 추가

In [9]:
s1

0    500
1    200
2    300
3    500
4    600
dtype: int64

In [12]:
s1.drop(1) # 특정 위치의 index를 제거

0    500
2    300
3    500
4    600
dtype: int64

In [13]:
s1

0    500
1    200
2    300
3    500
4    600
dtype: int64

In [14]:
s1.sum() # 합 계산

np.int64(2100)

In [15]:
# index의 정보를 숫자가 아닌 다른 정볼르 입력
pd.Series([100, 200, 300, 400], index=['1st', '2nd', '3rd', '4th'])

1st    100
2nd    200
3rd    300
4th    400
dtype: int64

In [17]:
# 특정 시리즈 내 값중 문자가 포함되어 있다면, object(범주형, 문자) 형태로 선언
pd.Series({'name':'홍길동', 'age':30, '지역':'서울'})

name    홍길동
age      30
지역       서울
dtype: object