In [3]:
n, k = map(int, input().split())
stack = [0 for _ in range(n * 2 + 1)]
for idx in range(1, 2 * n + 1):
    if stack[idx] == 0:
        stack[idx] = stack[idx - 1] + 1
        next_idx = idx * 2
        while next_idx < 2 * n + 1:
            stack[next_idx] = stack[idx - 1] + 1
            next_idx *= 2

for idx in range(n, 2 * n + 1):
    if stack[idx] <= k:
        print(idx - n)
        break

15808

31

In [ ]:
from itertools import combinations
import random

def first():
    ans = []
    for num in range(1, 31):
        if num % 3 == 0 and num % 4 != 0:
            ans.append(num)
    return ans

def second():
    print(len(list(combinations(range(1, 16), 5))))
    
third = lambda x, y: max(x, y)

def fourth(list1, list2):
    return sorted(set(list1 + list2))

def fifth():
    computer = random.randint(1, 50)
    while True:
        people = int(input())
        if computer == people:
            print("정답입니다")
            break
        else:
            print("오답입니다")

In [2]:
import math
math.factorial(15) // (math.factorial(5) * math.factorial(10))

3003

# 7-2. pandas 라이브러리

- pandas 자료구조

      - series (순열) : numpy array를 기반으로, 정형데이터를 분석하기 위한 index-value 형식
      - dataframe (데이터프레임) : 순열을 모아 하나의 chart 구성된 index-value-column 형식의 구조

In [2]:
# 라이브러리 호출
import pandas as pd

s1 = pd.Series([100, 200, 300, 500])
s1
# 시리즈는 하나의 데이터 타입만 갖는 구조
# 하나의 시리즈에 하나의 타입을 가질 때, 통계연산 및 정형데이터 관리에 있어 매우 유리함

0    100
1    200
2    300
3    500
dtype: int64

In [4]:
s1.index # 해당 시리즈의 index, 특정 데이터를 series선언하면 자동으로 index가 부여됨

RangeIndex(start=0, stop=4, step=1)

In [5]:
s1.values # 해당 시리즈의 value, numpy array

array([100, 200, 300, 500])

In [6]:
s1[0:2]

0    100
1    200
dtype: int64

In [7]:
s1[0] = 500 # 0번째 index값을 500으로 변경

In [8]:
s1[4] = 600 # 기존에 없던 index에 새로 데이터를 추가

In [9]:
s1

0    500
1    200
2    300
3    500
4    600
dtype: int64

In [12]:
s1.drop(1) # 특정 위치의 index를 제거

0    500
2    300
3    500
4    600
dtype: int64

In [13]:
s1

0    500
1    200
2    300
3    500
4    600
dtype: int64

In [14]:
s1.sum() # 합 계산

np.int64(2100)

In [15]:
# index의 정보를 숫자가 아닌 다른 정볼르 입력
pd.Series([100, 200, 300, 400], index=['1st', '2nd', '3rd', '4th'])

1st    100
2nd    200
3rd    300
4th    400
dtype: int64

In [17]:
# 특정 시리즈 내 값중 문자가 포함되어 있다면, object(범주형, 문자) 형태로 선언
pd.Series({'name':'홍길동', 'age':30, '지역':'서울'})

name    홍길동
age      30
지역       서울
dtype: object

In [6]:
df1 = pd.DataFrame(data = [[100, 200, 'A', 500],
                          [20, 40, 'B', 600],
                           [100, 500, 'c', 100]],
                   columns = ['수량', '재고', '분류', '입고'])
df1

    수량   재고 분류   입고
0  100  200  A  500
1   20   40  B  600
2  100  500  c  100

In [7]:
df1['수량'] # series 형태로 하나의 column을 추출

0    100
1     20
2    100
Name: 수량, dtype: int64

In [8]:
df1[['수량', '분류']] # 두 개 이상의 column 대해서는 dataframe 형태로 indexing

    수량 분류
0  100  A
1   20  B
2  100  c

In [9]:
df1[['수량']]

    수량
0  100
1   20
2  100

# 8. 기술적 데이터 분석 (DDA)

- 데이터를 가져와서 데이터의 기본적인 정보를 파악
- 데이터의 구조와 타입을 확인
- 목표변수(y, output, label, target) , 문제 해결에 있어 가장 핵심적인 변수를 설정
    - 설명변수(x, input, feature)
- 기술 통계량을 파악 (column단위로 확인, 평균, 중앙값, 분산, ...)

In [11]:
# 데이터 불러오기
df1 = pd.read_csv('data/01_Data.csv')
df1

,Unnamed: 0,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,State,Overdue_count,Overdue_Type,Gender,Bank,Credit_Score
0,0,1,66758234,렌탈,일반계약,영업방판,2022-05-09,60,CMS,SLX-1,96900,개인,42.0,경기도,계약확정,0,없음,여자,새마을금고,496.0
1,1,2,66755948,렌탈,교체계약,영업방판,2023-02-23,60,카드이체,SLX-1,102900,개인,39.0,경기도,계약확정,0,없음,남자,현대카드,876.0
2,2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-03-03,60,CMS,SLX-1,96900,개인,48.0,경기도,계약확정,0,없음,여자,우리은행,512.0
3,3,4,66423450,멤버십,멤버십3유형,재계약,2022-05-16,12,CMS,SLX-1,66900,개인,39.0,경기도,계약확정,0,없음,남자,농협회원조합,777.0
4,4,5,66423204,멤버십,멤버십3유형,재계약,2022-05-13,12,CMS,SLX-1,66900,개인,60.0,경기도,기간만료,12,있음,남자,농협회원조합,561.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51296,51298,66579515,렌탈,프로모션계약,대형마트A,2022-03-04,60,CMS,SLX-3,96900,개인,47.0,경기도,계약확정,0,없음,남자,기업은행,NaN
51297,51297,51299,66799558,렌탈,일반계약,대형마트A,2022-04-04,60,CMS,SLX-1,96900,개인,42.0,경기도,계약확정,0,없음,여자,새마을금고,574.0
51298,51298,51300,66799197,렌탈,프로모션계약,영업방판,2022-04-04,39,카드이체,ADVERA,120900,개인,65.0,서울특별시,계약확정,0,없음,여자,롯데카드,972.0
51299,51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2023-02-09,60,카드이체,SLX-1,96900,개인,54.0,서울특별시,계약확정,0,없음,여자,롯데카드,888.0
51300,51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2022-04-27,60,CMS,SLX-1,96900,개인,53.0,서울특별시,계약확정,0,없음,여자,신한은행,538.0

## 8-1. 데이터 구조와 타입 확인

- 정형데이터의 구조

      - index : 데이터의 순서
            - 데이터의 개수를 확인
            - 데이터의 개수에 따라서 전처리 및 분석 기법이 달라 질 수 있음 
      - column : 데이터 항목
            - 각 항목 별 데이터의 타입을 확인
            - 데이터 타입에 따라 분석 방법이 달라지기 때문
                - 연속형 : 숫자데이터(int, float)
                - 범주형 : 문자데이터(object)
                - 순서형 : 날짜데이터(datetime)
      - value : 데이터의 값을 확인
          - 데이터의 형식을 확인해야함
          - 예를들어 날짜 데이터를 2025-03-26, 25년 3월 26일, 25.3.26
          - 프로그래밍 언어에서 오류가 발생
          - 결측값 확인 (missing value) : 데이터 수집이나 처리과정에서 누락이나 오류로 인해 발생한 비어있는 데이터 (none, nan, null, na 등으로 표현)

In [12]:
df1.columns

Index(['Unnamed: 0', 'Index', 'Member_ID', 'Sales_Type', 'Contract_Type',
       'Channel', 'Datetime', 'Term', 'Payment_Type', 'Product_Type',
       'Amount_Month', 'Customer_Type', 'Age', 'Address1', 'State',
       'Overdue_count', 'Overdue_Type', 'Gender', 'Bank', 'Credit_Score'],
      dtype='object')

In [14]:
df1.shape # 행, 열 개수 한번에 확인

(51301, 20)

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51301 entries, 0 to 51300
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     51301 non-null  int64
 1   Index          51301 non-null  int64
 2   Member_ID      51301 non-null  int64
 3   Sales_Type     51301 non-null  object
 4   Contract_Type  51301 non-null  object
 5   Channel        51301 non-null  object
 6   Datetime       51301 non-null  object
 7   Term           51301 non-null  int64
 8   Payment_Type   51301 non-null  object
 9   Product_Type   51301 non-null  object
 10  Amount_Month   51301 non-null  int64
 11  Customer_Type  51299 non-null  object
 12  Age            44329 non-null  float64
 13  Address1       51299 non-null  object
 14  State          51301 non-null  object
 15  Overdue_count  51301 non-null  int64
 16  Overdue_Type   51301 non-null  object
 17  Gender         51301 non-null  object
 18  Bank           48542 non-null  object
 19  Credit_Score   42460 non-null  float64
dtypes: float64(2), int64(6), object(12)
memory usage: 7.8+ MB

In [16]:
# 핵심 변수는 뭘로 잡고, 데이터 분석 목표는 뭐였고 그래서 등등...

## 8-2. 데이터 전처리

- 기본적인 데이터 핸들링 기법
  - 데이터 추출
  - 데이터 정렬
  - 데이터 필터
  - 데이터 요약
  - 날짜 데이터 처리, 파생변수 생성
  - 결측값 처리
  - 데이터 병합 및 재구조화

In [ ]:
# 데이터 추출
df1.head() # head(): 상위 n개의 데이터 출력 (공백 -> 5개)

In [ ]:
df1.tail() # tail() : 하위 n개의 데이터 추출

In [20]:
# 특정 범위의 행을 추출하고자 할 때
# iloc[n:m] :n번째부터, m번째 이전까지 데이터 추출(index loactoin)
df2 = df1.iloc[100:200]

In [22]:
# 열 단위 데이터 추출
df1['Amount_Month'] # 하나의 열 데이터를 추출

0         96900
1        102900
2         96900
3         66900
4         66900
          ...
51296     96900
51297     96900
51298    120900
51299     96900
51300     96900
Name: Amount_Month, Length: 51301, dtype: int64

In [23]:
df3 = df1[['Amount_Month', 'Channel', 'Credit_Score']]
df3

       Amount_Month Channel  Credit_Score
0             96900    영업방판         496.0
1            102900    영업방판         876.0
2             96900  홈쇼핑/방송         512.0
3             66900     재계약         777.0
4             66900     재계약         561.0
...             ...     ...           ...
51296         96900   대형마트A           NaN
51297         96900   대형마트A         574.0
51298        120900    영업방판         972.0
51299         96900  홈쇼핑/방송         888.0
51300         96900  홈쇼핑/방송         538.0

[51301 rows x 3 columns]

In [27]:
# 특정 column들의 상위 100개 데이터를 뽑아 result1.xlsx파일로 저장
df1[['Member_ID', 'Age', 'Gender', 'Amount_Month']].head(100).to_excel('data/result.xlsx')

**데이터 정렬**

In [29]:
#ㄷ 데이터 정렬(sort_values(): 특정 데이터에 대한 정렬)
df1. sort_values(by = 'Amount_Month')

,Unnamed: 0,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,State,Overdue_count,Overdue_Type,Gender,Bank,Credit_Score
47413,47413,47415,66796083,멤버십,멤버십2유형,전문매장H,2023-02-27,36,무통장,SLX-1,54603,개인,NaN,경상도,계약확정,0,없음,여자,NaN,NaN
47542,47542,47544,66796073,멤버십,멤버십2유형,전문매장H,2022-02-24,36,무통장,SLX-1,54603,개인,NaN,경상도,계약확정,0,없음,여자,NaN,NaN
47507,47507,47509,66795422,멤버십,멤버십2유형,전문매장H,2022-09-19,36,무통장,SLX-1,54603,개인,NaN,서울특별시,계약확정,0,없음,여자,NaN,NaN
38843,38843,38845,66789025,멤버십,멤버십2유형,전문매장H,2022-05-30,36,무통장,SLX-1,54603,개인,NaN,경상도,계약확정,0,없음,여자,NaN,NaN
47519,47519,47521,66796387,멤버십,멤버십2유형,전문매장H,2022-02-24,36,무통장,SLX-1,54603,개인,NaN,경상도,계약확정,0,없음,여자,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49896,49896,49898,25731710,렌탈,프로모션계약,영업방판,2022-10-03,39,가상계좌,3DIR-AVD,215700,사업자,NaN,경기도,계약확정,0,없음,여자,NaN,NaN
44840,44840,44842,25732681,렌탈,프로모션계약,영업방판,2023-06-05,39,CMS,3DIR-AVD,215700,사업자,51.0,경상도,계약확정,2,있음,여자,우체국,NaN
44839,44839,44841,25732681,렌탈,프로모션계약,영업방판,2023-04-22,39,CMS,3DIR-AVD,215700,사업자,51.0,경상도,계약확정,2,있음,여자,우체국,NaN
28147,28147,28149,25704137,렌탈,프로모션계약,전단홍보,2022-07-28,39,CMS,3DIR-AVD,215700,사업자,NaN,경상도,계약확정,0,없음,여자,국민은행,NaN
38497,38497,38499,25734005,렌탈,프로모션계약,영업방판,2022-06-08,39,CMS,3DIR-AVD,215700,사업자,58.0,전라도,계약확정,0,없음,남자,농협중앙회,905.0

In [30]:
df1.sort_values(by = 'Amount_Month', ascending = False)

,Unnamed: 0,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,State,Overdue_count,Overdue_Type,Gender,Bank,Credit_Score
19412,19412,19414,25710321,렌탈,프로모션계약,영업방판,2022-09-18,39,CMS,3DIR-AVD,215700,사업자,NaN,경기도,계약확정,0,없음,여자,기업은행,NaN
19413,19413,19415,25710320,렌탈,프로모션계약,영업방판,2023-02-01,39,CMS,3DIR-AVD,215700,사업자,NaN,경기도,계약확정,0,없음,여자,기업은행,NaN
38497,38497,38499,25734005,렌탈,프로모션계약,영업방판,2022-06-08,39,CMS,3DIR-AVD,215700,사업자,58.0,전라도,계약확정,0,없음,남자,농협중앙회,905.0
19774,19774,19776,25740247,렌탈,프로모션계약,전단홍보,2023-01-20,39,가상계좌,3DIR-AVD,215700,사업자,NaN,경상도,계약확정,0,없음,여자,NaN,NaN
37522,37522,37524,25733781,렌탈,프로모션계약,영업방판,2023-07-06,39,CMS,3DIR-AVD,215700,사업자,NaN,경기도,계약확정,0,없음,여자,기업은행,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46163,46163,46165,66793865,멤버십,멤버십2유형,전문매장H,2022-08-16,36,무통장,SLX-1,54603,개인,NaN,강원도,계약확정,0,없음,여자,NaN,NaN
46166,46166,46168,66793839,멤버십,멤버십2유형,전문매장H,2022-10-14,36,무통장,SLX-1,54603,개인,NaN,강원도,계약확정,0,없음,여자,NaN,NaN
46116,46116,46118,66795187,멤버십,멤버십2유형,전문매장H,2022-08-18,36,무통장,SLX-1,54603,개인,NaN,경기도,계약확정,0,없음,여자,NaN,NaN
46121,46121,46123,66794920,멤버십,멤버십2유형,전문매장H,2023-08-06,36,무통장,SLX-1,54603,개인,NaN,경기도,계약확정,0,없음,여자,NaN,NaN
46129,46129,46131,66794657,멤버십,멤버십2유형,전문매장H,2022-10-26,36,무통장,SLX-1,54603,개인,NaN,경상도,계약확정,0,없음,여자,NaN,NaN

In [33]:
# 월 랜탈비용이 높으면서, 연체건수가 낮은 순서대로 정렬
df1.sort_values(by = ['Amount_Month', 'Overdue_count'], ascending = [False, True]).head(100)

,Unnamed: 0,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,State,Overdue_count,Overdue_Type,Gender,Bank,Credit_Score
19412,19412,19414,25710321,렌탈,프로모션계약,영업방판,2022-09-18,39,CMS,3DIR-AVD,215700,사업자,NaN,경기도,계약확정,0,없음,여자,기업은행,NaN
19413,19413,19415,25710320,렌탈,프로모션계약,영업방판,2023-02-01,39,CMS,3DIR-AVD,215700,사업자,NaN,경기도,계약확정,0,없음,여자,기업은행,NaN
19773,19773,19775,25740247,렌탈,프로모션계약,전단홍보,2022-11-17,39,가상계좌,3DIR-AVD,215700,사업자,NaN,경상도,계약확정,0,없음,여자,NaN,NaN
19774,19774,19776,25740247,렌탈,프로모션계약,전단홍보,2023-01-20,39,가상계좌,3DIR-AVD,215700,사업자,NaN,경상도,계약확정,0,없음,여자,NaN,NaN
28147,28147,28149,25704137,렌탈,프로모션계약,전단홍보,2022-07-28,39,CMS,3DIR-AVD,215700,사업자,NaN,경상도,계약확정,0,없음,여자,국민은행,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47304,47304,47306,66349409,렌탈,일반계약,대형마트A,2022-12-31,39,CMS,3DIR-AVD,185700,개인,74.0,경기도,계약확정,2,있음,여자,국민은행,440.0
4890,4890,4891,66762367,렌탈,프로모션계약,영업방판,2022-01-11,39,CMS,3DIR-AVD,185700,개인,39.0,경기도,계약확정,3,있음,남자,우리은행,705.0
29687,29687,29689,66608353,렌탈,프로모션계약,영업방판,2022-05-16,39,CMS,3DIR-AVD,185700,개인,63.0,경기도,계약확정,3,있음,여자,기업은행,815.0
50752,50752,50754,66798515,렌탈,프로모션계약,영업방판,2022-03-03,39,CMS,3DIR-AVD,185700,개인,37.0,서울특별시,계약확정,8,있음,남자,농협회원조합,667.0
50951,50951,50953,25736066,렌탈,프로모션계약,영업방판,2023-07-28,39,CMS,3DIR-AVD,185700,사업자,NaN,서울특별시,계약확정,8,있음,여자,신한은행,NaN

**데이터 필터**

In [34]:
# loc[ ] : 특정 조건에 해당하는 데이터를 추출
# 층별화 : 데이터를 특정 범주 항목의 특성에 따라 나누어 분석

# 월 랜탈비용(Amount_Month) 10만원 이상인 계약 명단을 추출
df1.loc[df1['Amount_Month'] >= 100000]

,Unnamed: 0,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,State,Overdue_count,Overdue_Type,Gender,Bank,Credit_Score
1,1,2,66755948,렌탈,교체계약,영업방판,2023-02-23,60,카드이체,SLX-1,102900,개인,39.0,경기도,계약확정,0,없음,남자,현대카드,876.0
8,8,9,66758007,렌탈,일반계약,영업방판,2022-07-03,60,카드이체,SLX-3,102900,개인,62.0,경상도,계약확정,0,없음,여자,롯데카드,890.0
9,9,10,66756702,렌탈,프로모션계약,영업방판,2022-07-03,60,CMS,SLX-1,105900,개인,51.0,경상도,계약확정,0,없음,여자,신한은행,978.0
19,19,20,66755490,렌탈,프로모션계약,영업방판,2023-01-20,60,카드이체,SLX-1,105900,개인,58.0,경상도,계약확정,0,없음,여자,롯데카드,919.0
21,21,22,66758336,렌탈,프로모션계약,전문매장Z,2023-04-29,60,CMS,SLX-1,111900,개인,72.0,경상도,계약확정,0,없음,남자,농협회원조합,516.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51286,51286,51288,66799302,렌탈,프로모션계약,영업방판,2022-05-24,60,카드이체,SLX-1,105900,개인,39.0,서울특별시,계약확정,0,없음,여자,롯데카드,999.0
51287,51287,51289,66444051,렌탈,교체계약,대형마트A,2022-10-02,60,CMS,SLX-1,102900,개인,90.0,서울특별시,계약확정,0,없음,남자,신한은행,NaN
51288,51288,51290,66799492,렌탈,프로모션계약,영업방판,2022-02-27,60,카드이체,SLX-1,105900,개인,52.0,경기도,계약확정,0,없음,남자,삼성카드,NaN
51291,51291,51293,25731743,렌탈,일반계약,영업방판,2023-02-15,60,CMS,SLX-3,102900,사업자,NaN,경기도,계약확정,10,있음,여자,농협중앙회,NaN
51298,51298,51300,66799197,렌탈,프로모션계약,영업방판,2022-04-04,39,카드이체,ADVERA,120900,개인,65.0,서울특별시,계약확정,0,없음,여자,롯데카드,972.0

In [39]:
# 월랜탈비용이 10만원 이상이면서, 연체건수(Overdue_count)가 3건 미만인 계약 명단을 추출

df1.loc[(df1['Amount_Month'] >= 100000) & (df1['Overdue_count'] < 3)]

,Unnamed: 0,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,State,Overdue_count,Overdue_Type,Gender,Bank,Credit_Score
1,1,2,66755948,렌탈,교체계약,영업방판,2023-02-23,60,카드이체,SLX-1,102900,개인,39.0,경기도,계약확정,0,없음,남자,현대카드,876.0
8,8,9,66758007,렌탈,일반계약,영업방판,2022-07-03,60,카드이체,SLX-3,102900,개인,62.0,경상도,계약확정,0,없음,여자,롯데카드,890.0
9,9,10,66756702,렌탈,프로모션계약,영업방판,2022-07-03,60,CMS,SLX-1,105900,개인,51.0,경상도,계약확정,0,없음,여자,신한은행,978.0
19,19,20,66755490,렌탈,프로모션계약,영업방판,2023-01-20,60,카드이체,SLX-1,105900,개인,58.0,경상도,계약확정,0,없음,여자,롯데카드,919.0
21,21,22,66758336,렌탈,프로모션계약,전문매장Z,2023-04-29,60,CMS,SLX-1,111900,개인,72.0,경상도,계약확정,0,없음,남자,농협회원조합,516.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51279,51279,51281,66798237,렌탈,패키지계약,직영계열사A,2022-03-12,60,CMS,SLX-3,101400,개인,NaN,경기도,계약확정,0,없음,여자,국민은행,814.0
51286,51286,51288,66799302,렌탈,프로모션계약,영업방판,2022-05-24,60,카드이체,SLX-1,105900,개인,39.0,서울특별시,계약확정,0,없음,여자,롯데카드,999.0
51287,51287,51289,66444051,렌탈,교체계약,대형마트A,2022-10-02,60,CMS,SLX-1,102900,개인,90.0,서울특별시,계약확정,0,없음,남자,신한은행,NaN
51288,51288,51290,66799492,렌탈,프로모션계약,영업방판,2022-02-27,60,카드이체,SLX-1,105900,개인,52.0,경기도,계약확정,0,없음,남자,삼성카드,NaN
51298,51298,51300,66799197,렌탈,프로모션계약,영업방판,2022-04-04,39,카드이체,ADVERA,120900,개인,65.0,서울특별시,계약확정,0,없음,여자,롯데카드,972.0

In [40]:
# 두 조건 중 하나의 조건만 만족해도 데이터를 불러오는 경우
df1. loc[(df1['Amount_Month'] >= 100000) | (df1['Overdue_count'] < 3)]

,Unnamed: 0,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,State,Overdue_count,Overdue_Type,Gender,Bank,Credit_Score
0,0,1,66758234,렌탈,일반계약,영업방판,2022-05-09,60,CMS,SLX-1,96900,개인,42.0,경기도,계약확정,0,없음,여자,새마을금고,496.0
1,1,2,66755948,렌탈,교체계약,영업방판,2023-02-23,60,카드이체,SLX-1,102900,개인,39.0,경기도,계약확정,0,없음,남자,현대카드,876.0
2,2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-03-03,60,CMS,SLX-1,96900,개인,48.0,경기도,계약확정,0,없음,여자,우리은행,512.0
3,3,4,66423450,멤버십,멤버십3유형,재계약,2022-05-16,12,CMS,SLX-1,66900,개인,39.0,경기도,계약확정,0,없음,남자,농협회원조합,777.0
5,5,6,66165241,렌탈,프로모션계약,영업방판,2022-08-01,60,CMS,SLX-3,90900,개인,53.0,경상도,계약확정,0,없음,여자,농협중앙회,767.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51296,51298,66579515,렌탈,프로모션계약,대형마트A,2022-03-04,60,CMS,SLX-3,96900,개인,47.0,경기도,계약확정,0,없음,남자,기업은행,NaN
51297,51297,51299,66799558,렌탈,일반계약,대형마트A,2022-04-04,60,CMS,SLX-1,96900,개인,42.0,경기도,계약확정,0,없음,여자,새마을금고,574.0
51298,51298,51300,66799197,렌탈,프로모션계약,영업방판,2022-04-04,39,카드이체,ADVERA,120900,개인,65.0,서울특별시,계약확정,0,없음,여자,롯데카드,972.0
51299,51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2023-02-09,60,카드이체,SLX-1,96900,개인,54.0,서울특별시,계약확정,0,없음,여자,롯데카드,888.0
51300,51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2022-04-27,60,CMS,SLX-1,96900,개인,53.0,서울특별시,계약확정,0,없음,여자,신한은행,538.0

In [41]:
# 유입경로(channel)가 홈쇼핑, 방송 계약 명단을 추출
cond1 = df1['Channel'] == "홈쇼핑/방송"
df1.loc[cond1]

,Unnamed: 0,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,State,Overdue_count,Overdue_Type,Gender,Bank,Credit_Score
2,2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-03-03,60,CMS,SLX-1,96900,개인,48.0,경기도,계약확정,0,없음,여자,우리은행,512.0
6,6,7,66751017,렌탈,패키지계약,홈쇼핑/방송,2022-02-02,60,카드이체,SLX-1,98400,개인,66.0,경상도,계약확정,0,없음,남자,롯데카드,968.0
7,7,8,66751017,렌탈,패키지계약,홈쇼핑/방송,2022-01-20,60,카드이체,SLX-2,80400,개인,66.0,경상도,계약확정,0,없음,남자,롯데카드,905.0
10,10,11,66757254,렌탈,패키지계약,홈쇼핑/방송,2022-07-26,60,카드이체,SLX-1,81900,개인,39.0,경상도,계약확정,0,없음,여자,국민카드,928.0
11,11,12,66757254,렌탈,패키지계약,홈쇼핑/방송,2022-08-12,60,카드이체,SLX-2,81900,개인,39.0,경상도,계약확정,0,없음,여자,국민카드,927.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51272,51272,51274,66796702,렌탈,일반계약,홈쇼핑/방송,2023-06-21,60,CMS,SLX-1,96900,개인,NaN,충청도,계약확정,0,없음,남자,농협회원조합,965.0
51275,51275,51277,66794251,렌탈,일반계약,홈쇼핑/방송,2022-09-05,60,카드이체,SLX-1,96900,개인,39.0,경기도,계약확정,0,없음,여자,현대카드,806.0
51295,51295,51297,66792261,렌탈,일반계약,홈쇼핑/방송,2022-03-14,60,카드이체,SLX-1,96900,개인,45.0,경기도,계약확정,0,없음,여자,롯데카드,911.0
51299,51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2023-02-09,60,카드이체,SLX-1,96900,개인,54.0,서울특별시,계약확정,0,없음,여자,롯데카드,888.0
51300,51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2022-04-27,60,CMS,SLX-1,96900,개인,53.0,서울특별시,계약확정,0,없음,여자,신한은행,538.0

In [42]:
# 유입경로(channel)가 홈쇼핑, 방송 과 영업방판 계약 명단을 추출
# 하나의 범주형 항목에서 여러개의 데이터를 한 번에 추출하고자 할 때
cond1 = df1['Channel'].isin(['홈쇼핑/방송', '영업방판'])
df1.loc[cond1]

,Unnamed: 0,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,State,Overdue_count,Overdue_Type,Gender,Bank,Credit_Score
0,0,1,66758234,렌탈,일반계약,영업방판,2022-05-09,60,CMS,SLX-1,96900,개인,42.0,경기도,계약확정,0,없음,여자,새마을금고,496.0
1,1,2,66755948,렌탈,교체계약,영업방판,2023-02-23,60,카드이체,SLX-1,102900,개인,39.0,경기도,계약확정,0,없음,남자,현대카드,876.0
2,2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-03-03,60,CMS,SLX-1,96900,개인,48.0,경기도,계약확정,0,없음,여자,우리은행,512.0
5,5,6,66165241,렌탈,프로모션계약,영업방판,2022-08-01,60,CMS,SLX-3,90900,개인,53.0,경상도,계약확정,0,없음,여자,농협중앙회,767.0
6,6,7,66751017,렌탈,패키지계약,홈쇼핑/방송,2022-02-02,60,카드이체,SLX-1,98400,개인,66.0,경상도,계약확정,0,없음,남자,롯데카드,968.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51291,51291,51293,25731743,렌탈,일반계약,영업방판,2023-02-15,60,CMS,SLX-3,102900,사업자,NaN,경기도,계약확정,10,있음,여자,농협중앙회,NaN
51295,51295,51297,66792261,렌탈,일반계약,홈쇼핑/방송,2022-03-14,60,카드이체,SLX-1,96900,개인,45.0,경기도,계약확정,0,없음,여자,롯데카드,911.0
51298,51298,51300,66799197,렌탈,프로모션계약,영업방판,2022-04-04,39,카드이체,ADVERA,120900,개인,65.0,서울특별시,계약확정,0,없음,여자,롯데카드,972.0
51299,51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2023-02-09,60,카드이체,SLX-1,96900,개인,54.0,서울특별시,계약확정,0,없음,여자,롯데카드,888.0
51300,51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2022-04-27,60,CMS,SLX-1,96900,개인,53.0,서울특별시,계약확정,0,없음,여자,신한은행,538.0

**데이터 요약**

In [47]:
# 제품군(Product_Type) 별로 월 랜탈비용(Amount_Month)의 평균
df1.pivot_table(index = 'Product_Type', values = 'Amount_Month', aggfunc = 'mean') 

# pivot_table() 특정 항목에 따라 특정 값의 통계량을 계산
# index = : 나누고자 하는 범주형 항목 (index 형식으로 데이터가 들어간다)
# values = : 계산하고자 하는 연속형 데이터
# aggfunc = : 계산하고자 하는 통계량

               Amount_Month
Product_Type
3DIR-AVD      189450.000000
ADV-5         129444.954128
ADVERA        119744.720497
SLX-1          94424.545166
SLX-2          87556.390618
SLX-3          94706.900529

In [48]:
# 고객의 판매유형(신규 - 렌탈, 재계약 - 멤버십) 별로 제품군(Product_Type)에 따른 월 랜탈비용(Amount_Month)과 계약 기간(Term)의 평균을 계산
df1.pivot_table(index = ['Sales_Type', 'Product_Type'], values = ['Amount_Month', 'Term'], aggfunc = 'mean')

                          Amount_Month       Term
Sales_Type Product_Type
렌탈         3DIR-AVD      189450.000000  39.000000
           ADV-5         130616.250000  60.000000
           ADVERA        119744.720497  39.000000
           SLX-1          98694.923613  59.838978
           SLX-2          87901.899247  57.503655
           SLX-3          94752.196532  59.676301
멤버십        ADV-5          75900.000000  12.000000
           SLX-1          63161.706570  22.971720
           SLX-2          57725.242718  14.796117
           SLX-3          75900.000000  36.000000

In [ ]:
df1.pivot_table(index = 'Product_Type', values = 'Amount_Month', columns = 'Sales_Type', aggfunc = 'sum', fill_value = 0, margins = True)

# fill_value = :요약의 결과 중 결측값에 해당하는 값을 특정 값으로 대치
# margins = : 특정 행 또는 열 전체의 통계량을 계산

In [ ]:
help(df1.pivot_table)

**날짜 데이터 처리 / 파생 변수 생성**

- 파생변수 : 기존에 가진 column들을 이용해 계산하여, 새로운 column 생성

In [56]:
# 날짜 데이터를 날짜 형식의 데이터 타입으로 변환하여 사용
# 파생 변수로 날짜 관련 여러 지표를 새로 계산

df1['Datetime_dt'] = pd.to_datetime(df1['Datetime'])

In [57]:
df1

,Unnamed: 0,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,...,Customer_Type,Age,Address1,State,Overdue_count,Overdue_Type,Gender,Bank,Credit_Score,Datetime_dt
0,0,1,66758234,렌탈,일반계약,영업방판,2022-05-09,60,CMS,SLX-1,...,개인,42.0,경기도,계약확정,0,없음,여자,새마을금고,496.0,2022-05-09
1,1,2,66755948,렌탈,교체계약,영업방판,2023-02-23,60,카드이체,SLX-1,...,개인,39.0,경기도,계약확정,0,없음,남자,현대카드,876.0,2023-02-23
2,2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-03-03,60,CMS,SLX-1,...,개인,48.0,경기도,계약확정,0,없음,여자,우리은행,512.0,2022-03-03
3,3,4,66423450,멤버십,멤버십3유형,재계약,2022-05-16,12,CMS,SLX-1,...,개인,39.0,경기도,계약확정,0,없음,남자,농협회원조합,777.0,2022-05-16
4,4,5,66423204,멤버십,멤버십3유형,재계약,2022-05-13,12,CMS,SLX-1,...,개인,60.0,경기도,기간만료,12,있음,남자,농협회원조합,561.0,2022-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51296,51298,66579515,렌탈,프로모션계약,대형마트A,2022-03-04,60,CMS,SLX-3,...,개인,47.0,경기도,계약확정,0,없음,남자,기업은행,NaN,2022-03-04
51297,51297,51299,66799558,렌탈,일반계약,대형마트A,2022-04-04,60,CMS,SLX-1,...,개인,42.0,경기도,계약확정,0,없음,여자,새마을금고,574.0,2022-04-04
51298,51298,51300,66799197,렌탈,프로모션계약,영업방판,2022-04-04,39,카드이체,ADVERA,...,개인,65.0,서울특별시,계약확정,0,없음,여자,롯데카드,972.0,2022-04-04
51299,51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2023-02-09,60,카드이체,SLX-1,...,개인,54.0,서울특별시,계약확정,0,없음,여자,롯데카드,888.0,2023-02-09
51300,51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2022-04-27,60,CMS,SLX-1,...,개인,53.0,서울특별시,계약확정,0,없음,여자,신한은행,538.0,2022-04-27

In [61]:
df1['Year'] = df1['Datetime_dt'].dt.year # 연도 추출
df1['Month'] = df1['Datetime_dt'].dt.month # 월 추출
df1['Days'] = df1['Datetime_dt'].dt.day # 일 추출
df1['Day_of_Week'] = df1['Datetime_dt'].dt.day_name() # 요일 추출
df1['Week'] = df1['Datetime_dt'].dt.isocalendar().week # 주차 추출
df1

,Unnamed: 0,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,...,Overdue_Type,Gender,Bank,Credit_Score,Datetime_dt,Year,Month,Days,Day_of_Week,Week
0,0,1,66758234,렌탈,일반계약,영업방판,2022-05-09,60,CMS,SLX-1,...,없음,여자,새마을금고,496.0,2022-05-09,2022,5,9,Monday,19
1,1,2,66755948,렌탈,교체계약,영업방판,2023-02-23,60,카드이체,SLX-1,...,없음,남자,현대카드,876.0,2023-02-23,2023,2,23,Thursday,8
2,2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-03-03,60,CMS,SLX-1,...,없음,여자,우리은행,512.0,2022-03-03,2022,3,3,Thursday,9
3,3,4,66423450,멤버십,멤버십3유형,재계약,2022-05-16,12,CMS,SLX-1,...,없음,남자,농협회원조합,777.0,2022-05-16,2022,5,16,Monday,20
4,4,5,66423204,멤버십,멤버십3유형,재계약,2022-05-13,12,CMS,SLX-1,...,있음,남자,농협회원조합,561.0,2022-05-13,2022,5,13,Friday,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51296,51298,66579515,렌탈,프로모션계약,대형마트A,2022-03-04,60,CMS,SLX-3,...,없음,남자,기업은행,NaN,2022-03-04,2022,3,4,Friday,9
51297,51297,51299,66799558,렌탈,일반계약,대형마트A,2022-04-04,60,CMS,SLX-1,...,없음,여자,새마을금고,574.0,2022-04-04,2022,4,4,Monday,14
51298,51298,51300,66799197,렌탈,프로모션계약,영업방판,2022-04-04,39,카드이체,ADVERA,...,없음,여자,롯데카드,972.0,2022-04-04,2022,4,4,Monday,14
51299,51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2023-02-09,60,카드이체,SLX-1,...,없음,여자,롯데카드,888.0,2023-02-09,2023,2,9,Thursday,6
51300,51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2022-04-27,60,CMS,SLX-1,...,없음,여자,신한은행,538.0,2022-04-27,2022,4,27,Wednesday,17

In [63]:
df1.pivot_table(columns = 'Year', index = 'Product_Type', values = 'Amount_Month', aggfunc = 'sum')

Year                2022       2023
Product_Type
3DIR-AVD        17354400    5379600
ADV-5           33746400    8582100
ADVERA          62835600   14280000
SLX-1         2936751225  758364501
SLX-2          629260470  158396820
SLX-3          156786960   40298100

In [72]:
# 파생 변수 생성
# 비교구문과 Loc 함수를 활용하여 파생변수를 생성
# Loc[조건, 항목명] = 새로운 값, 해당 조건에 일치하는 데이터들에 대해 '항목명'에 '새로운 값'을 추가
cond1 = df1['Age'] >= 70
cond2 = df1['Age'] >= 60
cond3 = df1['Age'] >= 50
cond4 = df1['Age'] >= 40

df1['Age_Group'] = "30대 이상"
df1.loc[cond4, 'Age_Group'] = '40대 이상'
df1.loc[cond3, 'Age_Group'] = '50대 이상'
df1.loc[cond2, 'Age_Group'] = '60대 이상'
df1.loc[cond1, 'Age_Group'] = '70대 이상'
df1

,Unnamed: 0,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,...,Gender,Bank,Credit_Score,Datetime_dt,Year,Month,Days,Day_of_Week,Week,Age_Group
0,0,1,66758234,렌탈,일반계약,영업방판,2022-05-09,60,CMS,SLX-1,...,여자,새마을금고,496.0,2022-05-09,2022,5,9,Monday,19,40대 이상
1,1,2,66755948,렌탈,교체계약,영업방판,2023-02-23,60,카드이체,SLX-1,...,남자,현대카드,876.0,2023-02-23,2023,2,23,Thursday,8,30대 이상
2,2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-03-03,60,CMS,SLX-1,...,여자,우리은행,512.0,2022-03-03,2022,3,3,Thursday,9,40대 이상
3,3,4,66423450,멤버십,멤버십3유형,재계약,2022-05-16,12,CMS,SLX-1,...,남자,농협회원조합,777.0,2022-05-16,2022,5,16,Monday,20,30대 이상
4,4,5,66423204,멤버십,멤버십3유형,재계약,2022-05-13,12,CMS,SLX-1,...,남자,농협회원조합,561.0,2022-05-13,2022,5,13,Friday,19,60대 이상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51296,51298,66579515,렌탈,프로모션계약,대형마트A,2022-03-04,60,CMS,SLX-3,...,남자,기업은행,NaN,2022-03-04,2022,3,4,Friday,9,40대 이상
51297,51297,51299,66799558,렌탈,일반계약,대형마트A,2022-04-04,60,CMS,SLX-1,...,여자,새마을금고,574.0,2022-04-04,2022,4,4,Monday,14,40대 이상
51298,51298,51300,66799197,렌탈,프로모션계약,영업방판,2022-04-04,39,카드이체,ADVERA,...,여자,롯데카드,972.0,2022-04-04,2022,4,4,Monday,14,60대 이상
51299,51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2023-02-09,60,카드이체,SLX-1,...,여자,롯데카드,888.0,2023-02-09,2023,2,9,Thursday,6,50대 이상
51300,51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2022-04-27,60,CMS,SLX-1,...,여자,신한은행,538.0,2022-04-27,2022,4,27,Wednesday,17,50대 이상

In [71]:
# 파생 변수 생성2
# 직접 사용자 함수를 만들어서 특정 데이터를 처리

def func1(row):
    if row > 70:
        return '70대 이상'
    elif row >= 60:
        return '60대'
    elif row >= 50:
        return '50대'
    else:
        return '50대 이하'
        
df1['Age'].apply(func1) # apply() : 특정 시리즈의 각 Row 값을 특정 함수의 매개변수로 할당

0        50대 이하
1        50대 이하
2        50대 이하
3        50대 이하
4           60대
          ...
51296    50대 이하
51297    50대 이하
51298       60대
51299       50대
51300       50대
Name: Age, Length: 51301, dtype: object

In [68]:
df1['Age_Group'] = df1['Age'].apply(func1)

In [74]:
def func2(row):
    # 연련의 값을 문자로 변환한 뒤, 첫 번째 글자만 가져와 연령대로 변환
    return str(row)[0] + '0대'
    
df1['Age_Group'] = df1['Age'].apply(func2)
df1['Age_Group'].value_counts()

Age_Group
40대    16283
50대    12522
n0대     6972
30대     6798
60대     5947
70대     1737
80대      576
20대      407
90대       57
10대        2
Name: count, dtype: int64

In [78]:
def func3(row):
    # 연령에 포함된 결측값을 따로 처리
    if pd.isnull(row): # pd.isnull() 특정 값이 결측값이면 True, 아니면 False
        return '미확인'
    elif row >= 100:
        return '90대'
    else:
        return str(row)[0] + '0대'

df1['Age_Group'] = df1['Age'].apply(func3)
df1['Age_Group'].value_counts()

Age_Group
40대    16283
50대    12522
미확인     6972
30대     6798
60대     5947
70대     1737
80대      576
20대      407
90대       59
Name: count, dtype: int64

데이터 분석 초기 -> 외부 전문가(통계, it기술 풍부) -> 시간과 비용이 발생, 보안관련 문제
사내교육 -> 업무와 병행해서 바쁘고, 
채용