In [20]:
def wendy(letter):
    fir = "..*.."
    sec = ".*.*."
    thi = f"*.{letter}.*"
    fou = ".*.*."
    fiv = "..*.."
    return fir, sec, thi, fou, fiv

def peter(letter):
    fir = ".#.."
    sec = "#.#."
    thi = f".{letter}.#"
    fou = "#.#."
    fiv = ".#.."
    return fir, sec, thi, fou, fiv

word = input()

answer = [".", ".", "#", ".", "."]

for idx in range(1, len(word) + 1):
    if idx % 3 == 0:
        fir, sec, thi, fou, fiv = wendy(word[idx - 1])
        answer[0] = answer[0][:-1] + fir
        answer[1] = answer[1][:-1] + sec
        answer[2] = answer[2][:-1] + thi
        answer[3] = answer[3][:-1] + fou
        answer[4] = answer[4][:-1] + fiv
    else:
        fir, sec, thi, fou, fiv = peter(word[idx - 1])
        answer[0] += fir
        answer[1] += sec
        answer[2] += thi
        answer[3] += fou
        answer[4] += fiv
        
for l in answer:
    print(l)

ABCD
..#...#...*...#..
.#.#.#.#.*.*.#.#.
#.A.#.B.*.C.*.D.#
.#.#.#.#.*.*.#.#.
..#...#...*...#..

# 1. python 프로그래밍 언어 기초


## 1-1. jupyter notebook 사용법

- 주피터 노트북 명령어
    - cell: python 코드나 주석을 입력할 수 있는 공간
    - cell mode : 하나의 cell에 코드나 주석을 사용할 수 있는 상태
    - command mode : cell 추가, 삭제 등 cell 자체를 편집할 수 있는 상태
        - cell mode 상태에서 esc키를 누르면 활성화
        - cell 생성 : b (현재 cell 아래로 새로운 cell 생성), a (현재 cell 위로 새로운 cell 생성)
        - cell 삭제 : x (현재 선택 cell 삭제)
        - 실행 취소 : z
        - 주석 : m
        - 코드 : y
        - 실행 : shift + enter

# 2. 파이썬 기초 문법

## 2-1. 변수

- 변수 : 데이터를 들고다니는 공간
- 변수를 선언한다 : 특정 값이나 결과를 사용자가 지정한 이름으로 사용한다 (오른쪽의 값을 등호기호를 기준으로 왼쪽에 사용자가 지정한 이름으로 선언)

In [3]:
data1 = 100
data2 = 50.1

data1 + data2

150.1

## 2-2. 데이터 타입

- 파이썬에서는 데이터 타입 : 숫자형, 문자형, 논리형
- 숫자형 : 정수형(int), 실수형(float)
- 문자형 : 문자열(str), 범주형(object)
- 논리형 : 참, 거짓(true, false / bool) -> 첫 글자를 대문자로 사용
- 파이썬은 대/소문자를 명확히 구분
- type() : 특정 변수안에 있는 데이터 타입을 확인

In [5]:
# 주석 : 파이썬 코드에 영향을 주지 않는 설명따위를 입력하는 공간 
type(data2) # data2 변수 안에 있는 데이터 타입을 확인

float

In [7]:
data3 = "파이썬 데이터 분석" # 문자 데이터를 data3 변수에 선언
data3 # 문자는 따옴표 또는 쌍따옴표를 이용해 표현

'파이썬 데이터 분석'

In [8]:
# 논리형 타입
True

True

In [9]:
type(True)

bool

## 2-3. 파이썬 연산자 (operator)

- 데이터 타입에 따라 연산의 방법이 달라진다!

In [10]:
data1 + data2 # 덧셈

150.1

In [11]:
data1 - data2 # 뺄셈

49.9

In [12]:
data1 * 2 # 곱셈

200

In [13]:
data1 / 3 # 나눗셈

33.333333333333336

In [14]:
2 ** 3 # 거듭제곱

8

In [22]:
# 문자데이터 연산
data4 = "python"
data5 = "데이터 분석"

In [23]:
data4 + data5 # 문자 데이터 덧셈 연산 : 두 문자열을 이어 붙여준다

'python데이터 분석'

In [24]:
data4 * 3 # 문자 데이터 곱셈연산 : 특정 문자를 특정획수만큼 반복하여 사용

'pythonpythonpython'

In [25]:
# 논리형 연산 (비교구문)
data5 = 100
data6 = 70

In [26]:
data5 > data6

True

In [27]:
data5 < data6

False

In [28]:
data5 >= data6 # 이상 이하를 판별하는 대소 비교

True

In [29]:
data5 == data6 # 두 데이터가 서로 같은지 확인 비교 구문

False

In [30]:
data5 != data6 # 두 데이터가 서로 다른지 확인 비교 구문

True

## 2-4. 파이썬 자료 구조

- 하나의 변수에 여러개의 데이터를 들고 다니고 싶을 때
- 데이터를 들고 다닐 수 있는 상자의 종류
    - list (리스트)
    - tuple (튜플)
    - set (셋, 집합)
    - dictionary (딕셔너리, 집합)

In [32]:
# 리스트 (대괄호 사용하여 데이터 적재)
data8 = [20, 30, 50, 10, 90, 20]
data8
# 데이터상 순서가 존재 (입력 순서를 기억) , 중복값 허용, 새로운 데이터를 추가, 삭제, 변경 가능

[20, 30, 50, 10, 90, 20]

In [33]:
type(data8)

list

In [34]:
data8.append(150) # 현재 선언된 data8 리스트 맨 끝에 150값을 새로 추가

In [35]:
data8

[20, 30, 50, 10, 90, 20, 150]

In [39]:
# 함수 : 파이썬에서 특정 긴으을 수행하기 위해 프로그래머들이 만들어놓은 단어 및 구문
data8.remove(50)
data8

[20, 30, 10, 90, 20, 150]

In [40]:
data8.insert(0, 300)
data8

[300, 20, 30, 10, 90, 20, 150]

In [41]:
# indexing 색인: 특정 위치에 존재하는 데이터를 찾는 것 대괄호를 사용
data8[0]

300

In [42]:
# 맨 끝에서 위치를 계산해 데이터를 찾을 때
data8[-1]

150

In [43]:
data8[0:4]

[300, 20, 30, 10]

In [44]:
data9 = data8[-3:] # 맨 뒤 3번째 부터 맨 끝까지 데이터 호출한 다음 새로운 이름의 변수로 선언
data9

[90, 20, 150]

In [45]:
# python 에서 대괄호:
# 1. 특정 데이터를 담는 리스트
# 2. 특정 자료구조 내 특정 위치에 존해하는 데이터 확인

In [46]:
# 튜플은 소괄호를 이용해 선언
# 데이터의 순서가 존재, 중복값 허용, 새로운 데이터 추가, 삭제, 변경하는것이 불가능
data10 = (90, 100, 20, 100, 15)
type(data10)

tuple

In [47]:
data11 = list(data10)
data11, data10

([90, 100, 20, 100, 15], (90, 100, 20, 100, 15))

In [48]:
# 셋, 중괄호 할용해서 선언
# 데이터 상 순서가 존재하지 않음, 중복 허용 안된다, 데이틀 추가, 삭제, 변경 가능
data11 = {30, 20, 20, 90, 150, 20, 20, 10, 5}
data11

{5, 10, 20, 30, 90, 150}

In [49]:
data12 = {20, 30, 40, 50, 60}
data13 = {50, 60, 70, 80, 90}

data12 & data13, data12 | data13

({50, 60}, {20, 30, 40, 50, 60, 70, 80, 90})

In [50]:
# 차집합
data12 - data13

{20, 30, 40}

In [51]:
# 대상 차집합 (교집합을 제외한 나머지)
data12 ^ data13

{20, 30, 40, 70, 80, 90}

In [53]:
# 만약 두 리스트에서 공통된 데이터를 찾고 싶다면?
data14 = [30, 40, 50, 60]
data15 = [50, 60, 100, 200]
list(set(data14) & set(data15))

[50, 60]

In [54]:
# 딕셔너리, 중괄호를 이용하여 표현 {key, value}
# key-value 쌍으로 매칭되어 표현되는 데이터 자료구조
data16 = {'이름': '홍길동', "나이": 26, "지역": "서울"}
type(data16)

dict

In [55]:
# 딕셔너리의 경우 key를 찾아올 때 해당 key에 매칭되는 value값이 출력
data16['이름']

'홍길동'

In [57]:
data16.keys(), data16.values(), data16.items()

(dict_keys(['이름', '나이', '지역']),
 dict_values(['홍길동', 26, '서울']),
 dict_items([('이름', '홍길동'), ('나이', 26), ('지역', '서울')]))

In [58]:
data16["성별"] = "남성"
data16

{'이름': '홍길동', '나이': 26, '지역': '서울', '성별': '남성'}

In [59]:
# 두 개의 리스트를 이용해서 하나의 딕셔너리를 구성
data17 = ['이름', '전공', '나이', '지역']
data18 = ["홍길동", "물리", 30, "경기"]

dict(zip(data17, data18))

{'이름': '홍길동', '전공': '물리', '나이': 30, '지역': '경기'}